.container {
	margin-top: 25px;
	width: 600px;
}

.btn-success {
	margin-left: 15px;
	margin-right: 15px;
	align-self: right;
}

.lab1 {
	margin: 5px;
	
}

.lab {
	margin: 5px;
	padding: 0px 2.275px 0px 2.275px;
}